.logo{
    height: 80px;
    padding-right: 13rem;
}

#form-control{
    background-color: #f4f5fb;
    border: none;
    font-family: Arial, "Helvetica", sans-serif;
    padding-top: 6%;
    padding-bottom: 6%;
    border-radius: 50px;

}

#icon{
    z-index: 1;
    height: 30px;
}

#login{
    font-family: Arial, "Helvetica", sans-serif;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 8%;
    
}

#signup:hover{
    background-color: #565564;
}

#login:hover{
    background-color: transparent;
}

#signup{
    border-color: none;
    background-color: #0d0c22;
    padding: 5%;
    width: 50%;
    border-radius: 50px;
    font-size: 16px;
    transition: all 0.2s ease;
    --bs-btn-border-width: none
}

#options{
    width: 12%;
    margin-left: -1rem;
    font-weight: 600
}

#navigate{
    font-family: Arial, "Helvetica", sans-serif;
    margin-left: 2rem;
}


.mybtn{
    background-color: #fff;
    border: none;
    color: #0d0c22;
    margin-left: 1rem;
    font-weight: 600;
    transition: all 0.25s ease;
    font-size: 0.8rem;
}

.mybtn:hover {
    color: #565564;
    border: none;
    background-color: #fff;
}

.btn-group:hover>.dropdown-menu {
    display: block;
  }
  
  .btn-group>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

