#category{
    background-color: #fff;
}

#mybtn2{
    background-color: #fff;
    border: 1.5px solid rgba(231,231,233,0.9);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;

}

.nav-link{
    --bs-nav-link-color: black;
    --bs-nav-link-font-weight: 500;
}

.nav-link:hover{
    background-color: #f8f7f4;
    border-radius: 20px;
    --bs-nav-link-hover-color: black;
}

#nav{
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: black;
    --bs-nav-link-disabled-color: black; 
}

#btn3{
    background-color: #fff;
    border: 1.5px solid rgba(231,231,233,0.9);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 16px;
    border-radius: 40px;
    font-weight: 400;
    color: black;
}